---
layout: default
title: Blogging Like a Hacker
tracking: true
---
		  {% for post in site.posts limit:25 %}<div class="padded-content">
			  <article>
			  <header>
		        <h3><a
		    href="{{ post.url }}" class="post-excerpt{% if post.photo_url %} photo{% endif %}">
{{ post.title }}</a></h3>
		      {% if post.photo_url %}
		        <div class="image" style="background-image:url('{{ post.photo_url }}')"></div>
		      {% else %}
		        <!-- <div class="title">{{ post.title }}</div> -->
		        <info datetime="{{ page.date | date: "%Y-%m-%d" }}">
		          {{ post.date | date: "%d/%m/%Y" }}
		        </info>
				  </header>

		        {% if post.description %}
		        <p><span class="body">{{ post.description | strip_html }}</span></p>
		        {% else %}
		        <p><span class="body">{{ post.excerpt | strip_html }}</span></p>
		        {% endif %}
				{% endif %}<!-- post.photo_url -->
			<nav class="suite"><a href="{{ post.url }}">La suite...</a></nav>
				<footer>
				</footer>
				</article>
		      </div>
		    {% endfor %}
