<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="description" content="Java, JavaEE, Big Data, Machine Learning, Neo4j, Clojure, Scripting, Unix...">
    <meta name="keywords" content="devops,vagrant,hadoop,netcat,system,unix,linux,clojure,machine learning,big data" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	<link rel="icon" href="/images/favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="post/stylesheets/print.css" media="print" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feeds/feed.xml"/>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>System.out by geraudster</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
	<h1>System.out <a href="/feeds/feed.xml"><img src="/images/feed-icon-14x14.png"></a></h1>
          <h2></h2>
          <span class="intro">Java, JavaEE, Big Data, Machine Learning, Neo4j, Clojure, Scripting, Unix...</span>
        </header>
<!--
        <section id="downloads" class="clearfix">
          <a href="https://github.com/geraudster" id="view-on-github" class="button"><span>View on GitHub</span></a>
        </section>
-->
        <hr>

        <section id="main_content">
{{ content }}
       </section>

        <footer>
	<div class="social">
	<div class="linkedin">
<a href="http://fr.linkedin.com/pub/geraud-dug%C3%A9/5/b35/512">
      
          <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_liprofile_blue_80x15.png" width="80" height="15" border="0" alt="View Geraud Dugé's profile on LinkedIn">
        
    </a>
	</div>
	<div class="viadeo">
		<script type="text/javascript">var viadeoWidgetsJsUrl = document.location.protocol+"//widgets.viadeo.com";(function(){var e = document.createElement('script'); e.type='text/javascript'; e.async = true;e.src = viadeoWidgetsJsUrl+'/js/viadeowidgets.js'; var s = document.getElementsByTagName('head')[0]; s.appendChild(e);})();</script><div class="viadeo-profile-card" data-user-id="EOdubjbyEgewhdgdIzwvOeqDOc" data-color="light" data-partner-id="EOdubjbyEgewhdgdIzwvOeqDOc" data-icon="button" data-behaviour="onmouseover"></div>
	</div>
	</div>
	<div>
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">System.out</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://geraudster.github.io/" property="cc:attributionName" rel="cc:attributionURL">Géraud Dugé</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://geraudster.github.io/" rel="dct:source">http://geraudster.github.io/</a>.
          <br/>
          This page was generated by <a href="http://pages.github.com">GitHub Pages</a>. Tactile theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.
	</div>
        </footer>

        
      </div>
      <div class="right">
	      <!-- BookBox widget BEGIN-->
	      <script type="text/javascript" src="http://www.sharebookbox.com/widget2.php?id=4974"></script><a href="http://www.sharebookbox.com/index.php?id=4974"><img src="http://www.sharebookbox.com/images/bookbox2.png" style="border:0" width="139" height="18" alt="BookBox: embed book widget, share book list" /></a>
	      <!-- BookBox widget END--> 
      </div>
    </div>
{% if page.tracking %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45020499-1', 'geraudster.github.io');
  ga('send', 'pageview');

</script>
{% endif %}
   </body>
</html>
